html {
    margin: 0px;
    padding: 0px;
}

body {
    height: 130px;
    width: 580px;
    background: #ABC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
}

#main {
    display: flex;
    height: 100px;
}

#login {
    text-align: right;
}

body .logged-out {
    display: none;
}

body.logged-out .logged-out {
    display: revert;
}

body.logged-out .logged-in {
    display: none;
}

#logo {
    width: 20%;
    text-align: center;
}

#logo img {
    height: 100%;
}


#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}

body.logged-out #menu {
    opacity: 0.25;
    pointer-events: none;
}

#menu button {
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    border-width: 1px;
    border-style: solid;
}

#menu button:hover {
    opacity: 1;
    font-weight: bold;
}

#sauvegarder {
    background-color: #5A5;
    border-color: #585
}

#restaurer {
    background-color: #55F;
    border-color: #558;
}